{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Om oss</h1>
			</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<p>Idén bakom Snabbafakta är att göra befintlig statistik på internet ännu tillgängligare. I många fall är det tidskrävande att finna svar på frågor man tycker är enkla. Det kan vara att man inte hittar rätt myndighet, inte förstår en databasstruktur, tappar bort sig bland definitioner eller manuellt måste klippa och klistra i för många excel-dokument.</p>

			<p>Vår ambition är att det bara ska krävas en enkel googling för frågor som statistik enkelt kan besvara. Idén till snabbafakta tog form på en after work och sjösattes på <a href="http://hackforsweden.se/">Hack for Sweden</a> av David Rydén och Robin Linderborg.</p>

			<div class="puff puff--bio">
				<img class="puff__img" src="{{ config['IMG_DIR'] }}/david.JPG">
				<h3 class="puff__header">David Rydén</h3>
				<p>David tar för närvarande en Master-examen i Nationalekonomi vid Handelshögskolan. Han är tjänstledig från sitt arbete som statistiker på SCB  där han var produktansvarig för arbetskostnadsindex och lönestrukturstatistik. På fritiden programmerar David enklare webbapplikationer, med ambitionen att demokratisera åtkomsten av värdefull information.</p>
			</div>
			<div class="puff puff--bio">
				<img class="puff__img" src="{{ config['IMG_DIR'] }}/robin.JPG">
				<h3 class="puff__header">Robin Linderborg</h3>
				<p>Robin Linderborg jobbar till vardags som datajournalist på SVT Pejl. Han har tidigare jobbat som nyhetsreporter på lokal- och kvällspress. Robin spenderar orimligt mycket tid framför datorn, där han gärna visualiserar data med JavaScript och leker med den i Python. Just nu försöker han förstå hur internet <i>egentligen</i> fungerar.</p>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}