{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Om oss</h1>
			</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="puff puff--bio">
				<img class="puff__img" src="{{ config['IMG_DIR'] }}/david.JPG">
				<h3 class="puff__header">David Rydén</h3>
				<p>David Rydén är nationalekonom.</p>
			</div>
			<div class="puff puff--bio">
				<img class="puff__img" src="{{ config['IMG_DIR'] }}/robin.JPG">
				<h3 class="puff__header">Robin Linderborg</h3>
				<p>Robin Linderborg jobbar till vardags som datajournalist på SVT Nyheter.</p>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}