{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>{{ question.question }}</h1>

				<iframe src="{{ question.iframe }}" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="100%" height="400"></iframe>

				<p>{{ question.text|safe }}</p>
			</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}