{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>{{ question.question }}</h1>

				<iframe src="{{ question.iframe }}" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="100%" height="400"></iframe>

				<h3>Bakgrund</h3>
				{{ question.text|safe }}

				<h3>Data</h3>
				<ul>
					<li>
						<a href="{{ question.source }}">Grunddata på Google Drive</a>
					</li>
				</ul>
			</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}