{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>{{ question.question }}</h1>

				<iframe src="{{ question.iframe }}" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="100%" height="400"></iframe>

				<h3>Bakgrund</h3>
				{{ question.text|safe }}

				<h3>Data</h3>
				<ul>
					<li>
						<a href="{{ question.source }}">Grunddata på Google Drive</a>
					</li>
				</ul>
				<a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer" onclick="window.open(this.href, 'mywin','left=20,top=20,width=450,height=500,toolbar=1,resizable=0'); return false;">Facebook</a>
				<a href="https://twitter.com/intent/tweet?via=svtnyheter&amp;related=svtnyheter&amp;lang=sv&amp;text=%22Storfavoriten+Zelmerl%c3%b6w+segrade%22&amp;url=http%3a%2f%2fwww.svt.se%2fkultur%2fstorfavoriten-mans-zelmerlow-vann">Twitter</a>
			</div>
		<div class="col-md-2"></div>
	</div>
<div class="container-fluid">
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
{% endblock %}