@import 'bootstrap';
@import 'bootswatch';
@import 'variables';

body {
	margin-bottom: 50px;
}

.navbar.navbar-sf {
	background-color: #326598;
	border-radius: 0;

	a {
		color: #fff;
	}
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #326598;
}

a {
	color: #326598;
}

.puff {
	width: 100%;
}

.puff--main {
	border-left: 1px solid #EBEBEB;
	padding-left: 20px;
	overflow: hidden;

	.puff__img {
		max-height: 400px;
		float: none;
		width: 100%;
	}

	.puff__header {
		font-weight: bold;
	}
}

.puff--item {
	margin-top: 40px;
	overflow: hidden;

	.puff__header {
		font-weight: bold;
		margin-top: 0;
	}
}

.puff--bio {
	margin-top: 40px;
	overflow: hidden;

	.puff__img {
		border-radius: 150px;
		width: 150px;
	}
}

.puff__img {
	float: left;
	margin-right: 10px;
	width: 240px;
	cursor: pointer;
}

hr {
	width: 80%;
}

.navbar-sf .navbar-toggle {
	border-color: #ddd;

	.icon-bar {
		background-color: #fff;
	}
}

.sf-share-btn, .sf-share-btn:hover, .sf-share-btn:focus {
	background-color: #326598;
	padding: 8px 15px;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	text-align: center;
	width: 100px;
	float: right;
	margin-left: 10px;
	text-decoration: none;
}

@media (max-width: 768px) {
	.sf-share-btn {
		float: none;
		margin-left: 0;
	}

	.puff__img {
		float: none;
		width: 100%;
	}

	.puff--main {
		border-left: none;
		padding-left: 0;
	}

	.puff--item {
		.puff__header {
			margin-top: 20px;
		}
	}
}